body {
    background-color: moccasin;
}

.login {
    width: 400px;
    position: absolute;
    margin: auto;
    top: 30%;
    left: 0;
    right: 0;


    .login-header {
        text-align: center;
    }

    .login-bottom {
        text-align: center;
    }
}